workflows/deep-research-prune/workflow.json
{
  "id": "cleanupDeepResearchWorkflows",
  "name": "Deep Research Workflow Prune",
  "nodes": [
    {
      "parameters": {
        "path": "dr-prune-workflows",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "webhookPrune",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || {};\nlet ids = body.workflowIds ?? body.ids ?? body.workflow_ids ?? body.workflowId ?? body.id;\nif (typeof ids === 'string') {\n  ids = ids.split(/[\\s,]+/);\n}\nif (!Array.isArray(ids)) {\n  throw new Error('workflowIds must be an array or comma-separated string');\n}\nconst normalized = ids.map(id => String(id).trim()).filter(Boolean);\nconst protectedIds = new Set(['CrDDfMd93zOECM5V','T3DDusLZiAw2rz24','QNoVZU40nl4mmTEN','WCmzFI4sbs3AbgEF']);\nconst targets = normalized.filter(id => !protectedIds.has(id));\nif (!targets.length) {\n  throw new Error('No deletable workflow IDs supplied');\n}\nreturn targets.map(id => ({ json: { workflowId: id } }));"
      },
      "id": "prepareDeletions",
      "name": "Prepare Deletions",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.N8N_API_URL || 'https://8n8.oremuslabs.app').replace(/\\/$/, '') + '/rest/workflows/' + $json.workflowId }}",
        "responseFormat": "json",
        "options": {
          "timeout": 60
        },
        "method": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "ignoreResponseCode": true
      },
      "id": "deleteWorkflow",
      "name": "Delete Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const results = $input.all().map(item => ({ workflowId: item.json.workflowId, response: item.json }));\nreturn [{ json: { deleted: results.map(r => r.workflowId), details: results, count: results.length } }];"
      },
      "id": "summarize",
      "name": "Summarize",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        980,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Deletions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deletions": {
      "main": [
        [
          {
            "node": "Delete Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Workflow": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
