workflows/n8n-to-repo-sync/workflow.json
{
  "id": "WCmzFI4sbs3AbgEF",
  "name": "N8N to Repo Sync",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [300, 320]
    },
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyX",
            "unit": "hours",
            "value": 6
          }
        ]
      },
      "id": "cronTrigger",
      "name": "Scheduled Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [300, 500]
    },
    {
      "parameters": {
        "path": "n8n-to-repo-mcp",
        "httpMethod": "POST",
        "respond": false
      },
      "id": "webhookTrigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 640]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "triggerMerge",
      "name": "Trigger Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [520, 360]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "webhookMerge",
      "name": "Merge Webhook",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [520, 480]
    },
    {
      "parameters": {
        "url": "={{($env.N8N_API_URL || 'https://n8n.oremuslabs.app').replace(/\\/$/, '') + '/api/v1/workflows'}}",
        "responseFormat": "json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {
          "onError": "continueRegularOutput"
        }
      },
      "id": "listWorkflows",
      "name": "List All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [740, 420]
    },
    {
      "parameters": {
        "functionCode": "const data = Array.isArray($json.data?.workflows) ? $json.data.workflows : Array.isArray($json.data) ? $json.data : Array.isArray($json.workflows) ? $json.workflows : [];\nreturn data.map(workflow => ({ json: workflow }));"
      },
      "id": "extractWorkflows",
      "name": "Extract Workflows Array",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1.3,
      "position": [980, 420]
    },
    {
      "parameters": {
        "functionCode": "const blockedIds = new Set(['QNoVZU40nl4mmTEN', 'WCmzFI4sbs3AbgEF']);\nconst blockedNames = new Set(['Git Sync Workflow', 'N8N to Repo Sync']);\nconst skipTags = new Set(['no-sync', 'helper']);\nconst allowTag = ($env.N8N_EXPORT_TAG || '').trim().toLowerCase();\nconst allowListEnv = ($env.N8N_EXPORT_ALLOWLIST || '').split(',').map(entry => entry.trim()).filter(Boolean);\nconst allowList = new Set(allowListEnv);\nconst normalizeTags = (workflow) => {\n  return (workflow.tags || []).map(tag => {\n    if (!tag) return null;\n    if (typeof tag === 'string') return tag.toLowerCase();\n    if (typeof tag === 'object' && typeof tag.name === 'string') return tag.name.toLowerCase();\n    return null;\n  }).filter(Boolean);\n};\nconst workflows = $input.all().map(item => item.json).filter(Boolean);\nconst filtered = workflows.filter(workflow => {\n  const name = (workflow.name || '').trim();\n  if (blockedIds.has(workflow.id) || blockedNames.has(name)) {\n    return false;\n  }\n  const tags = normalizeTags(workflow);\n  if (tags.some(tag => skipTags.has(tag))) {\n    return false;\n  }\n  if (allowTag && allowTag !== '*' && !tags.includes(allowTag)) {\n    return false;\n  }\n  if (allowList.size && !allowList.has(workflow.id) && !allowList.has(name)) {\n    return false;\n  }\n  return true;\n});\nreturn filtered.map(workflow => ({ json: workflow }));"
      },
      "id": "filterWorkflows",
      "name": "Filter Workflows",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1.3,
      "position": [1220, 420]
    },
    {
      "parameters": {
        "url": "={{($env.N8N_API_URL || 'https://n8n.oremuslabs.app').replace(/\\/$/, '') + '/api/v1/workflows/' + $json.id}}",
        "responseFormat": "json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {
          "onError": "continueRegularOutput"
        }
      },
      "id": "getWorkflowDetails",
      "name": "Get Workflow Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1460, 420]
    },
    {
      "parameters": {
        "functionCode": "const workflow = $json;\nconst sanitizeName = (name) => name.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-|-$/g, '');\nconst overridePath = workflow.settings?.gitSyncPath || workflow.meta?.gitSyncPath || workflow.meta?.gitDirectory;\nconst normalizedDir = overridePath\n  ? overridePath.replace(/^workflows\\//, '').replace(/\\/workflow\\.json$/, '').trim()\n  : sanitizeName(workflow.name || '') || `workflow-${(workflow.id || '').slice(0, 8)}`;\nconst dirName = normalizedDir || 'workflow';\nconst cleanWorkflow = {\n  id: workflow.id,\n  name: workflow.name,\n  nodes: workflow.nodes,\n  connections: workflow.connections,\n  active: workflow.active ?? false,\n  settings: workflow.settings || {}\n};\nreturn {\n  json: {\n    workflowId: workflow.id,\n    workflowName: workflow.name,\n    dirName,\n    path: `workflows/${dirName}/workflow.json`,\n    content: JSON.stringify(cleanWorkflow, null, 2)\n  }\n};"
      },
      "id": "prepareWorkflowForGit",
      "name": "Prepare Workflow for Git",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1.3,
      "position": [1700, 420]
    },
    {
      "parameters": {
        "url": "={{'https://api.github.com/repos/Oremus-Labs/ol-n8n/contents/' + $json.path}}",
        "responseFormat": "json",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
            }
          ]
        },
        "options": {
          "onError": "continueRegularOutput",
          "allowUnauthorizedCerts": false
        }
      },
      "id": "getExistingFile",
      "name": "Get Existing File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "continueOnFail": true,
      "position": [1940, 420]
    },
    {
      "parameters": {
        "functionCode": "const prevItem = $('Prepare Workflow for Git').item.json;\nconst existingFile = $json;\nconst message = existingFile.sha\n  ? `Update ${prevItem.workflowName} workflow from n8n`\n  : `Add ${prevItem.workflowName} workflow from n8n`;\nconst body = {\n  message,\n  content: Buffer.from(prevItem.content).toString('base64'),\n  branch: 'main'\n};\nif (existingFile.sha) {\n  body.sha = existingFile.sha;\n}\nreturn {\n  json: {\n    ...prevItem,\n    existingSha: existingFile.sha || null,\n    githubBody: body\n  }\n};"
      },
      "id": "prepareGitHubUpdate",
      "name": "Prepare GitHub Update",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1.3,
      "position": [2180, 420]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{'https://api.github.com/repos/Oremus-Labs/ol-n8n/contents/' + $json.path}}",
        "responseFormat": "json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.githubBody}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "onError": "continueRegularOutput"
        }
      },
      "id": "updateGitHubFile",
      "name": "Update GitHub File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [2420, 420]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Trigger Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Trigger": {
      "main": [
        [
          {
            "node": "Trigger Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Webhook",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trigger Merge": {
      "main": [
        [
          {
            "node": "Merge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Webhook": {
      "main": [
        [
          {
            "node": "List All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List All Workflows": {
      "main": [
        [
          {
            "node": "Extract Workflows Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflows Array": {
      "main": [
        [
          {
            "node": "Filter Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Workflows": {
      "main": [
        [
          {
            "node": "Get Workflow Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow Details": {
      "main": [
        [
          {
            "node": "Prepare Workflow for Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workflow for Git": {
      "main": [
        [
          {
            "node": "Get Existing File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing File SHA": {
      "main": [
        [
          {
            "node": "Prepare GitHub Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare GitHub Update": {
      "main": [
        [
          {
            "node": "Update GitHub File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
