workflows/git-sync/workflow.json
{
  "id": "QNoVZU40nl4mmTEN",
  "name": "Git Sync Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        320
      ]
    },
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyX",
            "unit": "minutes",
            "value": 30
          }
        ]
      },
      "id": "cronTrigger",
      "name": "Scheduled Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "path": "git-sync-mcp",
        "httpMethod": "POST",
        "respond": false
      },
      "id": "webhookTrigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        620
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "triggerMerge",
      "name": "Trigger Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "webhookMerge",
      "name": "Merge Webhook",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        520,
        470
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Oremus-Labs/ol-n8n/git/trees/main?recursive=1",
        "method": "GET",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "listRepoTree",
      "name": "List Repo Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        740,
        410
      ]
    },
    {
      "parameters": {
        "functionCode": "const tree = $json.tree || [];\nconst workflows = tree\n  .filter(entry => entry.type === 'blob' && /^workflows\\/[^\\/]+\\/workflow\\.json$/.test(entry.path))\n  .map(entry => ({\n    path: entry.path,\n    rawUrl: `https://raw.githubusercontent.com/Oremus-Labs/ol-n8n/main/${entry.path}`\n  }));\nreturn workflows.map(item => ({ json: item }));"
      },
      "id": "selectWorkflows",
      "name": "Select Workflow Files",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        980,
        410
      ]
    },
    {
      "parameters": {
        "url": "={{$json.rawUrl}}",
        "method": "GET",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetchWorkflow",
      "name": "Fetch Workflow JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1220,
        410
      ]
    },
    {
      "parameters": {
        "functionCode": "const apiBase = ($env.N8N_API_URL || 'https://n8n.oremuslabs.app').replace(/\\/$/, '');\nconst sourceItems = $items(\"Select Workflow Files\", 0) || [];\nconst inputItems = $input.all();\n\nreturn inputItems.map((workflowItem, index) => {\n  const workflow = workflowItem.json;\n  const path = sourceItems[index]?.json?.path || 'workflows/unknown/workflow.json';\n  const workflowId = workflow.id;\n  const hasValidId = typeof workflowId === 'string' && workflowId.trim() !== '';\n  const cleanedWorkflow = {\n    name: workflow.name,\n    nodes: workflow.nodes,\n    connections: workflow.connections,\n    settings: workflow.settings ?? {}\n  };\n\n  return {\n    json: {\n      hasValidId,\n      workflowId,\n      apiBase,\n      body: cleanedWorkflow,\n      sourcePath: path,\n      workflowName: workflow.name || 'Unnamed Workflow'\n    }\n  };\n});"
      },
      "id": "normalizeWorkflow",
      "name": "Prepare Workflow Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1440,
        410
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.hasValidId}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "condition-1"
            }
          ],
          "combinator": "and"
        }
      },
      "id": "checkIfUpdate",
      "name": "Check If Update",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        410
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.apiBase}}/api/v1/workflows",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "createWorkflow",
      "name": "Create Workflow (POST)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1880,
        310
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$json.apiBase}}/api/v1/workflows/{{$json.workflowId}}",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "updateWorkflow",
      "name": "Update Workflow (PUT)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1880,
        510
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Trigger Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Trigger": {
      "main": [
        [
          {
            "node": "Trigger Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Merge Webhook",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trigger Merge": {
      "main": [
        [
          {
            "node": "Merge Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Webhook": {
      "main": [
        [
          {
            "node": "List Repo Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Repo Tree": {
      "main": [
        [
          {
            "node": "Select Workflow Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Workflow Files": {
      "main": [
        [
          {
            "node": "Fetch Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Workflow JSON": {
      "main": [
        [
          {
            "node": "Prepare Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Workflow Data": {
      "main": [
        [
          {
            "node": "Check If Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Update": {
      "main": [
        [
          {
            "node": "Update Workflow (PUT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Workflow (POST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
