workflows/git-sync/workflow.json
{
  "id": "w9FEfsPmdDt0HCKE",
  "name": "Git Sync Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        320
      ]
    },
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyX",
            "unit": "minutes",
            "value": 30
          }
        ]
      },
      "id": "cronTrigger",
      "name": "Scheduled Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "triggerMerge",
      "name": "Trigger Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        520,
        410
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/Oremus-Labs/ol-n8n/git/trees/main?recursive=1",
        "responseFormat": "json",
        "headerParameters": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "listRepoTree",
      "name": "List Repo Tree",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        740,
        410
      ]
    },
    {
      "parameters": {
        "functionCode": "const tree = $json.tree || [];\nconst workflows = tree\n  .filter(entry => entry.type === 'blob' && /^workflows\\/[^\\/]+\\/workflow\\.json$/.test(entry.path))\n  .map(entry => ({\n    path: entry.path,\n    rawUrl: `https://raw.githubusercontent.com/Oremus-Labs/ol-n8n/main/${entry.path}`\n  }));\nreturn workflows.map(item => ({ json: item }));"
      },
      "id": "selectWorkflows",
      "name": "Select Workflow Files",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1.3,
      "position": [
        980,
        410
      ]
    },
    {
      "parameters": {
        "url": "={{$json.rawUrl}}",
        "responseFormat": "json",
        "dataPropertyName": "workflow",
        "headerParameters": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "fetchWorkflow",
      "name": "Fetch Workflow JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1220,
        410
      ]
    },
    {
      "parameters": {
        "functionCode": "const workflow = $json.workflow ?? $json;\nconst path = $json.path || 'workflows/unknown/workflow.json';\nconst apiBase = ($env.N8N_API_URL || 'https://n8n.oremuslabs.app').replace(/\\/$/, '');\nconst parts = path.split('/');\nconst derivedName = parts.length > 1 ? parts[1] : 'workflow';\nreturn {\n  json: {\n    workflow,\n    path,\n    rawUrl: $json.rawUrl,\n    apiBase,\n    workflowName: workflow.name || derivedName\n  }\n};"
      },
      "id": "normalizeWorkflow",
      "name": "Normalize Workflow Payload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1.3,
      "position": [
        1440,
        410
      ]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.all();\nif (!items.length) {\n  return items;\n}\nconst apiBase = items[0].json.apiBase;\nlet existing = [];\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `${apiBase}/api/v1/workflows`,\n    headers: { 'X-N8N-API-KEY': $env.N8N_API_KEY },\n    json: true\n  });\n  existing = Array.isArray(response?.data) ? response.data : (Array.isArray(response) ? response : []);\n} catch (error) {\n  existing = [];\n}\nreturn items.map(item => {\n  const name = item.json.workflowName;\n  const match = existing.find(entry => entry.name === name);\n  const fallbackId = item.json.workflow?.id || null;\n  return {\n    json: {\n      ...item.json,\n      resolvedWorkflowId: match?.id || fallbackId\n    }\n  };\n});"
      },
      "id": "resolveWorkflow",
      "name": "Resolve Workflow Target",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1.3,
      "position": [
        1680,
        410
      ]
    },
    {
      "parameters": {
        "functionCode": "const workflow = $json.workflow;\nconst path = $json.path;\nconst apiBase = $json.apiBase;\nconst resolvedId = $json.resolvedWorkflowId;\nconst url = resolvedId ? `${apiBase}/api/v1/workflows/${resolvedId}` : `${apiBase}/api/v1/workflows`;\n\n// Clean workflow payload - remove fields that shouldn't be sent to API\nconst cleanedWorkflow = { ...workflow };\ndelete cleanedWorkflow.id;\ndelete cleanedWorkflow.createdAt;\ndelete cleanedWorkflow.updatedAt;\ndelete cleanedWorkflow.versionId;\n\n// For updates, preserve the ID in the URL; for creates, let n8n assign it\nif (resolvedId) {\n  cleanedWorkflow.id = resolvedId;\n}\n\nreturn {\n  json: {\n    method: resolvedId ? 'PUT' : 'POST',\n    url,\n    body: cleanedWorkflow,\n    sourcePath: path,\n    workflowName: $json.workflowName\n  }\n};"
      },
      "id": "prepareUpsert",
      "name": "Prepare Upsert Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1.3,
      "position": [
        1900,
        410
      ]
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "responseFormat": "json",
        "sendHeaders": true,
        "jsonParameters": true,
        "headerParameters": {
          "parameter": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersJson": "={{$json.body}}",
        "requestMethod": "={{$json.method}}",
        "options": {}
      },
      "id": "upsertWorkflow",
      "name": "Upsert Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2140,
        410
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Trigger Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scheduled Trigger": {
      "main": [
        [
          {
            "node": "Trigger Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Trigger Merge": {
      "main": [
        [
          {
            "node": "List Repo Tree",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Repo Tree": {
      "main": [
        [
          {
            "node": "Select Workflow Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Workflow Files": {
      "main": [
        [
          {
            "node": "Fetch Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Workflow JSON": {
      "main": [
        [
          {
            "node": "Normalize Workflow Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upsert Request": {
      "main": [
        [
          {
            "node": "Upsert Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Workflow Payload": {
      "main": [
        [
          {
            "node": "Resolve Workflow Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Workflow Target": {
      "main": [
        [
          {
            "node": "Prepare Upsert Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}