workflows/deep-research-fetch-url/workflow.json
{
  "id": "CrDDfMd93zOECM5V",
  "name": "Deep Research Fetch URL",
  "nodes": [
    {
      "parameters": {
        "path": "dr-fetch-url",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "webhookFetch",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        520
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || {};\nconst url = (body.url || '').trim();\nif (!url) {\n  throw new Error('Missing `url` in payload');\n}\nreturn [{ json: { url } }];"
      },
      "id": "validateUrl",
      "name": "Validate URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        440,
        520
      ]
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "responseFormat": "string",
        "options": {
          "fullResponse": true,
          "ignoreResponseCode": true,
          "followRedirect": true,
          "maxRedirects": 5,
          "timeout": 15000,
          "headers": [
            {
              "name": "User-Agent",
              "value": "DeepResearchBot/1.0 (+https://oremuslabs.com)"
            }
          ]
        }
      },
      "id": "fetchPage",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        700,
        520
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const url = $items('Validate URL', 0)[0].json.url;\nconst statusCode = $json.statusCode ?? 200;\nconst body = $json.body ?? '';\nconst headers = $json.headers || {};\nconst contentType = (headers['content-type'] || headers['Content-Type'] || '').toLowerCase();\n\nif (statusCode >= 400) {\n  return [{ json: { error: `Fetch failed with status ${statusCode}`, statusCode, url } }];\n}\n\nif (!body || contentType.includes('pdf') || contentType.includes('octet-stream')) {\n  return [{ json: { error: 'Unsupported or empty response body', statusCode, url } }];\n}\n\nconst titleMatch = body.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\nconst title = titleMatch ? titleMatch[1].replace(/\\s+/g, ' ').trim() : url;\nconst text = body\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/&nbsp;/gi, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn [{ json: { url, title, content: text, statusCode } }];"
      },
      "id": "cleanContent",
      "name": "Clean Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        520
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate URL": {
      "main": [
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Clean Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
