workflows/deep-research-fetch-url/workflow.json
{
  "id": "G2d70uB9kS8cM1eR",
  "name": "Deep Research Fetch URL",
  "nodes": [
    {
      "parameters": {
        "path": "dr-fetch-url",
        "responseMode": "lastNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "id": "webhookFetch",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        520
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || {};\nconst url = (body.url || '').trim();\nif (!url) {\n  throw new Error('Missing `url` in payload');\n}\nreturn [{ json: { url } }];"
      },
      "id": "validateUrl",
      "name": "Validate URL",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        440,
        520
      ]
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "fullResponse": true,
          "headers": [
            {
              "name": "User-Agent",
              "value": "DeepResearchBot/1.0 (+https://oremuslabs.com)"
            }
          ],
          "response": {
            "response": {
              "responseFormat": "string"
            }
          }
        }
      },
      "id": "fetchPage",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        700,
        520
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || '';\nconst titleMatch = body.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i);\nconst title = titleMatch ? titleMatch[1].replace(/\\s+/g, ' ').trim() : ($items('Validate URL', 0)[0].json.url);\nconst text = body.replace(/<script[\\s\\S]*?<\\/script>/gi, ' ').replace(/<style[\\s\\S]*?<\\/style>/gi, ' ').replace(/<[^>]+>/g, ' ').replace(/&nbsp;/gi, ' ').replace(/\\s+/g, ' ').trim();\nreturn [{ json: { url: $items('Validate URL', 0)[0].json.url, title, content: text } }];"
      },
      "id": "cleanContent",
      "name": "Clean Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        960,
        520
      ]
    },
    {
      "parameters": {
        "respondWith": "lastNode",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respondFetch",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        520
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate URL": {
      "main": [
        [
          {
            "node": "Fetch Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page": {
      "main": [
        [
          {
            "node": "Clean Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
